@model HelloWorldWeb.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    @Model.Name - @Model.Description - @Model.Price
</body>
</html>
